@media (min-width: 0px) and (max-width: 2200px) {
    .cupom1{    
          margin-top: 100px;
          margin-left: 100px;
      }
}





@media (min-width: 0px) and (max-width: 1140px) {
    .foto-perfil{
        width: 140px;
        height: 140px;
        margin-left: -50px;
    }
    .informacao p{
        font-size: 2em;
    }
    .informacao button{
        font-size: 1em;
    }
    header .navegcao-primaria li a{    
    font-size: 15px;
    }

}





/* zooom de 110 */
@media (min-width: 1300px) and (max-width: 1425px) {
    nav{
        font-size: 15px;
    } 
    nav p{
        font-size: 15px;
    }
    .perfil{
        margin-top: 0px;
    }
    .foto-perfil{
        width: 140px;
        height: 140px;
    }
    .informacao p{
        margin-bottom: 20%;
        font-size: 2em;
    }
    .informacao button{
        font-size: 1em;
        padding: 2px 10px;
        border-radius: 10%;
    }
    nav p{
        font-size: 1.2em;
        margin-right: 100px;
    }

}


/* zoom de mais de 125 */
@media (min-width: 1000px) and (max-width: 1300px) {
    nav{
        margin-top: -50px;
        font-size: 10px;
    } 
    nav p{
        font-size: 14px;
        margin-right: 100px;
    }
    .foto-perfil{
        width: 130px;
        height: 130px;
    }
    .perfil{
        margin-top: 0px;
    }
    .informacao p{

        font-size: 2em;
    }
    .informacao button{
        font-size: 1em;
    }



    
.pula{
    margin-top: -50px;
    margin-left: 100px;
}
.pula h1{
    max-width: 300px;
    font-size: 25px;
}
.teste{
    width: 100px;
    height: 130px;
    margin-bottom: -50px;
}

.teste1{
margin-left: -30px;

}
.teste2{
    margin-bottom: -40px;
    height: 240px;
}
.teste3{
    margin-left: -40px;
    height: 150px;
}
.teste4{
   margin-left: 300px;
   height: 130px;
   margin-bottom: -30px;
}

.gg ul li{
    max-width: 500px;
    font-size: 25px;
}

}




/* zooo de 150 */
@media (min-width: 0px) and (max-width: 1200px) {
    nav{
        font-size: 10px;
    } 
    nav p{
        font-size: 10px;
        margin-right: 100px;
    }
    .foto-perfil{
        width: 100px;
        height: 100px;
    }
    .informacao p{
        font-size: 1.4em;
    }
    .informacao button{
        font-size: 13px;
    }
    

    
.pula{
    margin-top: -50px;
    margin-left: 140px;
}
.pula h1{
    max-width: 250px;
    font-size: 20px;
}
.teste{
    width: 80px;
    height: 80px;
    margin-bottom: -30px;
}

.teste1{
margin-left: -30px;

}
.teste2{
    margin-bottom: -40px;
    height: 160px;
    margin-left: 30px;
}
.teste3{
    margin-left: -20px;
    height: 100px;
}
.teste4{
   margin-left: 140px;
   height: 100px;
   width: 80px;
   margin-bottom: -20px;
}

.gg ul li{
    max-width: 300px;
    font-size: 15px;
}

.cupomm1 .cupom1{
    width: 300px;
    height: 180px;
    margin-left: 0;
}
.cupomm1 .cupom1 h3{
    font-size: 20px;
}
.cupomm1 .cupom1 p{
    font-size: 10px;
}
.cupomm1 .cupom1 input{
    font-size: 10px;
 }



.cup1{
 
      margin-top: 10px;
      margin-left: 65px;
    
  }
  .cup2{
  
      margin-top: 35px;
      margin-left: 65px;
    
  }
  .cup3{
      margin-top: 58px;
      margin-left: 65px; 
  }
  .cup{
      max-width: 300px;
      margin: 90px 70px;
  }

  .input-cupom{     
    bottom: 8%;
    left: 25%;
    border-radius: 20px;
    padding: 5px 10px;

}
.btncum{
    bottom: 9%;
    right: 5%;
    padding: 5px 10px;
    border-radius: 15PX;
}


.img-cupom{
    width: 50px;
    height: 50px;
}
}







/* celular */



@media (max-width: 992px){
    .gg ul li{
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

    header{
        justify-content: space-between;
        padding: 30px 100px;
        
    }
    .cupom1{
        position: absolute;
        width: 20px;
      }
    .cupomm1 .cupom1{
        width: 300px;
        height: 180px;
        margin-top: 100px;
        margin-left: 0;
    }
    .cupomm1 .cupom1 h3{
        font-size: 20px;
    }
    .cupomm1 .cupom1 p{
        font-size: 10px;
    }
    .cupomm1 .cupom1 input{
        font-size: 10px;
     }
    
    .pagina_1 .pula{
        display: none;
    }


    .cup1{
     
          margin-top: 10px;
          margin-left: 65px;
        
      }
      .cup2{
      
          margin-top: 35px;
          margin-left: 65px;
        
      }
      .cup3{
          margin-top: 58px;
          margin-left: 65px; 
      }
      .cup{
          max-width: 300px;
          margin: 90px 70px;
      }

      .input-cupom{     
        bottom: 8%;
        left: 25%;
        border-radius: 20px;
        padding: 5px 10px;
 
    }
    .btncum{
        bottom: 9%;
        right: 5%;
        padding: 5px 10px;
        border-radius: 15PX;
    }


    .img-cupom{
        width: 50px;
        height: 50px;
    }




    header .navegcao-primaria{
        display: none;
    }
    header i{
        color: #fff;
        font-size: 3rem;
    }
    header .navegcao-primaria.ativado{
        background: linear-gradient(rgba(43,42,42, 0.176), rgba(46,46,46, 0.7));
        position: absolute;
        display: grid;
        top: 80px;
        color: white;
        z-index: 1;
        padding: 30px;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        right: 1px;
        animation: sob .8s ease-in-out forwards;
    }

}



@media (max-width: 992px){
    .foto .cotente{
         height: 320px;
         width: 345px;
       
     }
     .foto .bar{
         width: 50px;
         height: 17px;
 }
 
 .perfil{
     margin-top: 80px;
  margin-left: 0px;
 }
 .bod{
     width: 150%;
     left: 0px;
     padding: 0;
     margin: 0;
 }
 header h1{
     margin-left: 190px;
     font-size: 1.5em;
     margin-right: 0;
     padding-right: 0;
 }
 header{
     
     justify-content: left;
 }
 
 
 .suporte{
     border: none;
     right: 0;
     left: 5px;
     bottom: 8%;
 }
 
 header{
     background-image: url(bi/biasi.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 #oi{    
     position: relative;
     left: 80%;
     display: block;
     margin: 0;
     padding: 0;
     color: #020202;
 }
 
 .foto-perfil{
     width: 150px;
     height: 150px;
 }
 
 .perfil .foto-perfil img{
 width: 120%;
 height: 120%;
 }
 .informacao p{
     margin-bottom: 20%;
     font-size: 3em;
 }
 .informacao button{
     font-size: 1.5em;
     padding: 2px 10px;
     border-radius: 10%;
 }
 
 .informacao{
 margin: 30% 120%;
 font-size: 10px;
 }
 
 #home{
     margin-top: 90px;
 }
 .fundo{
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
 }

 .teste4{
    margin-left: 100px;
    height: 130px;
    width: 100px;
    margin-bottom: -30px;
    margin-top: -50px;
 }
 
 .gg ul li{
     max-width: 300px;
     font-size: 15px;
     padding: 20px;
     margin-top: ;
 }
 
}


@media (max-width: 992px){
    .ftperfil{
        margin-top: -50px;
        margin-left: 50px;
        position: absolute;
        z-index: 999;
        width: 300px;
        height: 400px;
        display: none;
        border-radius: 20px;
    }
    
    
    #photoContainer img{
        width: 70px;
        height: 70px;
        border: 2px solid black;
        border-radius: 50%;
    }
    #photoContainer{
        padding: 30px;
    }

    .ftperfil h1{
       
        margin-top: 10px;
    }
    
    
    .ftperfil button{
      
        padding: 10px 20px;
        box-shadow: 2px 4px 5px black;
        margin-left: 10px;
    }
    .ftperfil button:hover{
        background-color: #7F1B1B;
        box-shadow: 1px 1px 1px transparent;
    }


}