@media (min-width: 0px) and (max-width: 2200px) {
    .cupom1{    
          margin-top: 100px;
          margin-left: 100px;
      }
       
.missao{
    margin: 70px 20%;
}
        
.foto-misao{
    width: 155px;
    height: 150px;
}
.foto-misao::after{
    content: '';
    width: 95px;
    height: 130px; 
    
}

.foto-misao::before{
    content: '';
    width: 145px;
    height: 35px; 
    z-index: 999;
}

.foto-misao h2{
    margin-left: 20px;
    font-size: 20px;
}
.foto-misao img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 20px;
}
.missao p {
    margin-left: -25px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    top: -5px;
    padding-bottom: 50px;
    max-width: 500px;
}
.valores{
    max-width: 200px;
}

.visao2{
    width: 150px;
    height: 120px;
}
.missao .visao{
    max-width: 500px;
    margin-left: -30px;
}
.missao .limao{
    margin-top: 15px;    

    
}
}











/* zooom de 110 */
@media (min-width: 1300px) and (max-width: 1425px) {
    nav{
        font-size: 15px;
    } 
    nav p{
        font-size: 15px;
    }
    .perfil{
        margin-top: 0px;
    }
    .foto-perfil{
        width: 140px;
        height: 140px;
    }
    .informacao p{
        margin-bottom: 20%;
        font-size: 2em;
    }
    .informacao button{
        font-size: 1em;
        padding: 2px 10px;
        border-radius: 10%;
    }
    nav p{
        font-size: 1.2em;
        margin-right: 100px;
    }

     
.missao{
    margin: 70px 20%;
}
        
.foto-misao{
    width: 155px;
    height: 150px;
}
.foto-misao::after{
    content: '';
    width: 95px;
    height: 130px; 
    
}

.foto-misao::before{
    content: '';
    width: 145px;
    height: 35px; 
    z-index: 999;
}

.foto-misao h2{
    margin-left: 20px;
    font-size: 20px;
}
.foto-misao img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 20px;
}
.missao p {
    margin-left: -25px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    top: -5px;
    padding-bottom: 50px;
    max-width: 500px;
}
.valores{
    max-width: 200px;
}

.visao2{
    width: 150px;
    height: 120px;
}
.missao .visao{
    max-width: 500px;
    margin-left: -30px;
}
.missao .limao{
    margin-top: 15px;    

    
}
}


/* zoom de mais de 125 */
@media (min-width: 1000px) and (max-width: 1300px) {
    nav{
        margin-top: -50px;
        font-size: 10px;
    } 
    nav p{
        font-size: 14px;
        margin-right: 100px;
    }
    .foto-perfil{
        width: 130px;
        height: 130px;
    }
    .perfil{
        margin-top: 0px;
    }
    .informacao p{

        font-size: 2em;
    }
    .informacao button{
        font-size: 1em;
    }



    
.pula{
    margin-top: -50px;
    margin-left: 100px;
}
.pula h1{
    max-width: 300px;
    font-size: 25px;
}
.teste{
    width: 100px;
    height: 130px;
    margin-bottom: -50px;
}

.teste1{
margin-left: -30px;

}
.teste2{
    margin-bottom: -40px;
    height: 240px;
}
.teste3{
    margin-left: -40px;
    height: 150px;
}
.teste4{
   margin-left: 300px;
   height: 130px;
   margin-bottom: -30px;
}

.gg ul li{
    max-width: 500px;
    font-size: 25px;
}
 
.missao{
    margin: 70px 20%;
}
        
.foto-misao{
    width: 155px;
    height: 150px;
}
.foto-misao::after{
    content: '';
    width: 95px;
    height: 130px; 
    
}

.foto-misao::before{
    content: '';
    width: 145px;
    height: 35px; 
    z-index: 999;
}

.foto-misao h2{
    margin-left: 20px;
    font-size: 20px;
}
.foto-misao img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 20px;
}
.missao p {
    margin-left: -25px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    top: -5px;
    padding-bottom: 50px;
    max-width: 500px;
}
.valores{
    max-width: 200px;
}

.visao2{
    width: 150px;
    height: 120px;
}
.missao .visao{
    max-width: 500px;
    margin-left: -30px;
}
.missao .limao{
    margin-top: 15px;    

    
}

}











/* celular */



@media (max-width: 992px){
    .gg ul li{
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
    nav p{
        display: none;
    }

    .cupom1{
        position: absolute;
        width: 20px;
      }
    .cupomm1 .cupom1{
        width: 300px;
        height: 180px;
        margin-top: 100px;
        margin-left: 0;
    }
    .cupomm1 .cupom1 h3{
        font-size: 20px;
    }
    .cupomm1 .cupom1 p{
        font-size: 10px;
    }
    .cupomm1 .cupom1 input{
        font-size: 10px;
     }
    

     .fundo{
        height: 150%;
     }


 
     .pula{
        margin-top: -50px;
        margin-left: -50px;
    }
   


    .cup1{
     
          margin-top: 10px;
          margin-left: 65px;
        
      }
      .cup2{
      
          margin-top: 35px;
          margin-left: 65px;
        
      }
      .cup3{
          margin-top: 58px;
          margin-left: 65px; 
      }
      .cup{
          max-width: 300px;
          margin: 90px 70px;
      }

      .input-cupom{     
        bottom: 8%;
        left: 25%;
        border-radius: 20px;
        padding: 5px 10px;
 
    }
    .btncum{
        bottom: 9%;
        right: 5%;
        padding: 5px 10px;
        border-radius: 15PX;
    }


    .img-cupom{
        width: 50px;
        height: 50px;
    }

    header h1{
        margin-left: 190px;
        font-size: 1.5em;
        margin-right: 0;
        padding-right: 0;
    }

    header{
        background-image: url(bi/biasi.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px 100px;
        justify-content: left;
    }

    header .navegcao-primaria{
        display: none;
    }
    header i{
        color: #fff;
        font-size: 3rem;
    }
    header .navegcao-primaria.ativado{
        background: linear-gradient(rgba(43,42,42, 0.176), rgba(46,46,46, 0.7));
        position: absolute;
        display: grid;
        top: -40px;
        color: white;
        z-index: 1;
        padding: 30px;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        right: 1px;
        animation: sob .8s ease-in-out forwards;
    }

    .foto .cotente{
        height: 550px;
        width: 650px;
    }


    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

}



@media (max-width: 992px){

     .foto .bar{
         width: 50px;
         height: 17px;
 }
 
 .perfil{
     margin-top: 80px;
  margin-left: 0px;
 }
 .bod{
     width: 150%;
     left: 0px;
     padding: 0;
     margin: 0;
 }

 
 
 .suporte{
     border: none;
     margin-right: 20px;

     bottom: 8%;
 }
 

 .services{
    margin-top: -400px;
    padding: 30px;
    background-color: #151515;
}
 
 #oi{    
     position: relative;
     left: 75%;
     display: block;
     margin: 0;
     padding: 0;
     color: #020202;
     top: 100px;
 }
 
 .foto-perfil{
     width: 150px;
     height: 150px;
 }
 
 .perfil .foto-perfil img{
 width: 120%;
 height: 120%;
 }
 .informacao p{
     margin-bottom: 20%;
     font-size: 3em;
 }
 .informacao button{
     font-size: 1.5em;
     padding: 2px 10px;
     border-radius: 10%;
 }
 
 .informacao{
 margin: 30% 120%;
 font-size: 10px;
 }
 
 #home{
     margin-top: 90px;
 }
 .fundo{
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
 }

 .teste4{
    margin-left: 100px;
    height: 130px;
    width: 100px;
    margin-bottom: -30px;
    margin-top: -50px;
 }
 
 .gg ul li{
     max-width: 300px;
     font-size: 15px;
     padding: 20px;
 }
 
}


@media (max-width: 992px){
    .ftperfil{
        margin-top: -50px;
        margin-left: 50px;
        position: absolute;
        z-index: 999;
        width: 300px;
        height: 400px;
        display: none;
        border-radius: 20px;
    }
    
    
    #photoContainer img{
        width: 70px;
        height: 70px;
        border: 2px solid black;
        border-radius: 50%;
    }
    #photoContainer{
        padding: 30px;
    }

    .ftperfil h1{
       
        margin-top: 10px;
    }
    
    
    .ftperfil button{
      
        padding: 10px 20px;
        box-shadow: 2px 4px 5px black;
        margin-left: 10px;
    }
    .ftperfil button:hover{
        background-color: #7F1B1B;
        box-shadow: 1px 1px 1px transparent;
    }

    
.missao{
    margin: 70px 5%;
}
        
.foto-misao{
    width: 155px;
    height: 150px;
}
.foto-misao::after{
    content: '';
    width: 95px;
    height: 130px; 
    
}

.foto-misao::before{
    content: '';
    width: 145px;
    height: 35px; 
    z-index: 999;
}

.foto-misao h2{
    margin-left: 20px;
    font-size: 20px;
}
.foto-misao img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 20px;
}
.missao p {
    margin-left: -25px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    top: -5px;
    padding-bottom: 50px;
    max-width: 500px;
}
.valores{
    max-width: 200px;
}

.visao2{
    width: 150px;
    height: 120px;
}
.missao .visao{
    max-width: 500px;
    margin-left: -30px;
}
.missao .limao{
    margin-top: 15px;    

    
}


}

@media (max-width: 450px){
    .gg ul li{
        text-align: center;
        max-width: 400px;
        font-size: 14px;
        padding: 20px;
        background-color: #fffb00;
        color: black;
    }
    .gg{
        margin-top: -40px;
        margin-left: -30px;
    }

    header{
        background-image: url(bi/biasi\ cell1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 130PX;
    }
    .fundo{
        display: none;
    
    }
    body{
        background-color: red;
    }
    

      
.pula{
    margin-top: 100px;
    margin-left: -30%;
    
    margin-right: 20PX;
}
.pula h1{
    max-width: 200px;
    font-size: 13px;
    padding: 50PX 4PX;
    background-color: #fffb00;
    color: black;
}
.teste{

    margin-bottom: -30px;
}

.teste1{
margin-left: -6px;
width: 35%;
height: 35%;
}
.teste2{
    margin-bottom: -30px;
    width: 25%;
    height: 25%;
}
.teste3{
    margin-left: -25px;
    width: 35%;
    height: 35%;
}


.teste4{
   margin-left: 80px;
   width: 50%;
   height: 50%;
   margin-bottom: -30px;
}


.cel{
    display: flex;
    position: absolute;
    margin-top: 70px;
    width: 48%;
    height: 30%;
}


    
    #oi{    
        position: relative;
        left: 100%;
        display: block;
        margin: 0;
        padding: 0;
        color: #020202;
        top: -10px;
    }
    
    .foto-perfil{
        width: 90px;
        height: 90px;
        margin-top: -90px;
        margin-left: -80px;
    }
    .perfil .foto-perfil img{
        width: 130%;
        height: 130%;
        }
        .informacao p{
            margin-bottom: 10%;
            font-size: 3em;
            margin-top: -90px;
            margin-left: 10px;
        }
        .informacao button{
            font-size: 1.5em;
            padding: 2px 10px;
            border-radius: 10%;
            margin-left: 10px;
        }
        .foto .cotente{
            height: 320px;
            width: 345px;
        }
        .services{
            margin-top: -80px;
        }
        nav p{
            font-size: 45px;
        }
        #footer_content{
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
        }
    

.missao{
    margin: 70px 5%;
}
        
.foto-misao{
    width: 155px;
    height: 120px;
}
.foto-misao::after{
    content: '';
    width: 95px;
    height: 130px; 
    
}

.foto-misao::before{
    content: '';
    width: 145px;
    height: 35px; 
    z-index: 999;
}

.foto-misao h2{
    margin-left: 20px;
    font-size: 20px;
}
.foto-misao img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
}
.missao p {
    margin-left: -25px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    top: -5px;
    padding-bottom: 50px;
    max-width: 200px;
}
.valores{
    max-width: 200px;
}

.visao2{
    width: 150px;
    height: 120px;
}
.missao .visao{
    max-width: 200px;
    margin-left: -30px;
}

.btncum{
    padding: 7px 7px;
    border-radius: 10px;
}

.cupomm1{
    margin-top: 170px;
}
.cupomm1 .cupom1{
    width: 325px;
    height: 190px;
    margin-top: 100px;
    margin-left: 0;
    background-color: #fffb00;
    border: none;
    box-shadow: 5PX 5PX 5PX 5PX black;
}
.cupomm1 .cupom1 h3{
    font-size: 26px;
    color: #DE0000;
}
.cupomm1 .cupom1 p{
    font-size: 13px;
    color: black;
    margin-left: 30px;
    margin-right: 30px;
}
 .cup3{
    display: none;
}
.cupomm1 .cupom1 input{
    font-size: 12px;
    background-color: #DE0000;
 }
 .cupomm1 .cupom1 .btncum{
    padding: 5px 5px;
 }

 .pula a{
    display: none;
 }
 
.img-cupom{
    display: none;
}
 .cupomm1 .cupom1 .ala{
    display: flex;
    z-index: 999;
    position: absolute;
    width: 60px;
    height: 60px;
 }



 header .navegcao-primaria li a{
    color: black;
}

.navegcao-primaria #fe{
    display: none;
}
.alava{
    position: relative;
    margin-top: 94px;
    margin-left: 80%;
}

}




/* iphone 5 */
@media (max-width: 320px){
    .services{
        margin-top: 190px;
    }
    header{
        background-image: url(bi/biasi\ cell2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
.missao{
    margin: 70px 5%;
}
        
.foto-misao{
    width: 140px;
    height: 120px;
}
.foto-misao::after{
    content: '';
    width: 95px;
    height: 130px; 
    
}

.foto-misao::before{
    content: '';
    width: 128px;
    height: 35px; 
    z-index: 999;
}

.foto-misao h2{
    margin-left: 20px;
    font-size: 20px;
}
.foto-misao img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
}
.missao p {
    margin-left: -25px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    top: -5px;
    padding-bottom: 50px;
    max-width: 180px;
    font-size: 15px;
}
.valores{
    max-width: 200px;
}

.visao2{
    width: 150px;
    height: 120px;
}
.missao .visao{
    max-width: 180px;
    margin-left: -30px;
    
}
}


/* iphone mini */
@media (min-width: 330px) and (max-width: 361px) {
    .services{
        margin-top: -10px;
    }
}





/* zooo de 150 */
@media (min-width: 1000px) and (max-width: 1100px) {
    nav{
        font-size: 10px;
    } 
    nav p{
        font-size: 1px;
        margin-right: 100px;
    }
    .foto-perfil{
        width: 100px;
        height: 100px;
    }
    .informacao p{
        font-size: 1.4em;
    }
    .informacao button{
        font-size: 13px;
    }
    

    
.pula{
    margin-top: -50px;
    margin-left: 140px;
}
.pula h1{
    max-width: 250px;
    font-size: 20px;
}
.teste{
    width: 80px;
    height: 80px;
    margin-bottom: -30px;
}

.teste1{
margin-left: -30px;

}
.teste2{
    margin-bottom: -40px;
    height: 160px;
    margin-left: 30px;
}
.teste3{
    margin-left: -20px;
    height: 100px;
}
.teste4{
   margin-left: 140px;
   height: 100px;
   width: 80px;
   margin-bottom: -20px;
}

.gg ul li{
    max-width: 300px;
    font-size: 15px;
}

.cupomm1 .cupom1{
    width: 300px;
    height: 180px;
    margin-left: 0;
}
.cupomm1 .cupom1 h3{
    font-size: 20px;
}
.cupomm1 .cupom1 p{
    font-size: 10px;
}
.cupomm1 .cupom1 input{
    font-size: 10px;
 }



.cup1{
 
      margin-top: 10px;
      margin-left: 65px;
    
  }
  .cup2{
  
      margin-top: 35px;
      margin-left: 65px;
    
  }
  .cup3{
      margin-top: 58px;
      margin-left: 65px; 
  }
  .cup{
      max-width: 300px;
      margin: 90px 70px;
  }

  .input-cupom{     
    bottom: 8%;
    left: 25%;
    border-radius: 20px;
    padding: 5px 10px;

}
.btncum{
    bottom: 9%;
    right: 5%;
    padding: 5px 10px;
    border-radius: 15PX;
}


.img-cupom{
    width: 50px;
    height: 50px;
}
}
@media (min-width: 1000px) and (max-width: 1140px) {
    .foto-perfil{
        width: 140px;
        height: 140px;
        margin-left: -50px;
    }
    .informacao p{
        font-size: 2em;
    }
    .informacao button{
        font-size: 1em;
    }
    header .navegcao-primaria li a{    
    font-size: 15px;
    }
    nav p{
        font-size: 13px;
    }
       
.missao{
    margin: 70px 20%;
}
        
.foto-misao{
    width: 155px;
    height: 150px;
}
.foto-misao::after{
    content: '';
    width: 95px;
    height: 130px; 
    
}

.foto-misao::before{
    content: '';
    width: 145px;
    height: 35px; 
    z-index: 999;
}

.foto-misao h2{
    margin-left: 20px;
    font-size: 20px;
}
.foto-misao img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 20px;
}
.missao p {
    margin-left: -25px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    top: -5px;
    padding-bottom: 50px;
    max-width: 500px;
}
.valores{
    max-width: 200px;
}

.visao2{
    width: 150px;
    height: 120px;
}
.missao .visao{
    max-width: 500px;
    margin-left: -30px;
}
.missao .limao{
    margin-top: 15px;    

    
}

}


@media only screen and (max-width: 928px) and (orientation: landscape) {
    .services{
        margin-top: 400px;
    }
    .foto-perfil{
        width: 90px;
        height: 90px;
        margin-top: -50px;
        margin-left: -60px;
    }
    .perfil .foto-perfil img{
        width: 130%;
        height: 130%;
        }
        .informacao p{
            margin-bottom: 20%;
            font-size: 3em;
            margin-top: -50px;
        }
        .informacao button{
            font-size: 1.5em;
            padding: 2px 10px;
            border-radius: 10%;
        }
        .foto .cotente{
            height: 320px;
            width: 345px;
        }
        nav p{
            font-size: 45px;
        }
      
.pula{
    margin-top: -50px;
    margin-left: 0px;
}
.pula h1{
    max-width: 300px;
    font-size: 25px;
}
.teste{
    width: 100px;
    height: 130px;
    margin-bottom: -50px;
}

.teste1{
margin-left: -30px;

}
.teste2{
    margin-bottom: -40px;
    height: 240px;
}
.teste3{
    margin-left: -40px;
    height: 150px;
}
.teste4{
   margin-left: 150px;
   height: 130px;
   margin-bottom: -30px;
}

.gg ul li{
    max-width: 300px;
    font-size: 25px;
}
#oi{    
    position: relative;
    left: 80%;
    display: block;
    margin: 0;
    padding: 0;
    color: #020202;
    top: 50px;
}
.fundo{
    height: 300%;
}

   
.missao{
    margin: 70px 5%;
}
        
.foto-misao{
    width: 155px;
    height: 150px;
}
.foto-misao::after{
    content: '';
    width: 95px;
    height: 130px; 
    
}

.foto-misao::before{
    content: '';
    width: 145px;
    height: 35px; 
    z-index: 999;
}

.foto-misao h2{
    margin-left: 20px;
    font-size: 20px;
}
.foto-misao img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 20px;
}
.missao p {
    margin-left: -25px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    top: -5px;
    padding-bottom: 50px;
    max-width: 500px;
}
.valores{
    max-width: 200px;
}

.visao2{
    width: 150px;
    height: 120px;
}
.missao .visao{
    max-width: 500px;
    margin-left: -30px;
}
.missao .limao{
    margin-top: 15px;    

    
}
  }